---
import "../styles/global.css";
import TopBar from "~/components/navigation/TopBar.astro";
---

<!doctype html>
<html lang="en" data-theme="wintry">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Spotube</title>
  </head>
  <body>
    <TopBar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
