# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

*.pkg.tar.zst
/aur-struct/*.tar
/aur-struct/src
/aur-struct/pkg

/deb-struct/usr
/linux/packaging/deb/usr

/AppDir
/appimage-builder-cache
*.AppImage

/.flatpak
/.flatpak-builder

/iscc
installer.exe

/choco-struct/tools/*.exe

# secrets
*.env
lib/collections/env.g.dart
help.txt

dist
appimage-build

android/key.properties

**/pb_data

tm.json

# FVM Version Cache
.fvm/

android/build
android/app/.cxx
