node_modules
dist/
*.log
# user specific
cache/
local/
# debian build specific
deb-struct/usr/lib/
deb-struct/usr/bin/
deb-struct/usr/share/applications
# deply build binaries
deploy/linux/build
deploy/win32/build
deploy/darwin/build
# aur build specific
aur-struct/src
aur-struct/pkg
aur-struct/*.zip*
aur-struct/*.zst

*.tsbuildinfo