Package: Spotube
Version: 0.0.2
Section: sound
Priority: optional
Architecture: all
Essential: no
Installed-Size: 31000
Maintainer: KR Tirtho
Description: A music streaming app combining the power of Spotify & Youtube
Homepage: https://github.com/KRTirtho/spotube
