@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* vintage theme */
@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface.ttf');
	font-display: swap;
}