<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:name="${applicationName}"
    android:allowBackup="false"
    android:fullBackupContent="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name_en"
    android:requestLegacyExternalStorage="true"
    android:usesCleartextTraffic="true">
    <!-- Disable Impeller -->
    <meta-data
      android:name="io.flutter.embedding.android.EnableImpeller"
      android:value="false" />
  </application>
</manifest>