<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

  <queries>
    <!-- If your app opens https URLs -->
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
  </queries>

  <application
    android:name="${applicationName}"
    android:allowBackup="false"
    android:fullBackupContent="false"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name_en"
    android:requestLegacyExternalStorage="true"
    android:usesCleartextTraffic="true">
    <!-- Enable Impeller -->
    <!-- <meta-data
      android:name="io.flutter.embedding.android.EnableImpeller"
      android:value="false" /> -->

    <activity
      android:name="com.ryanheise.audioservice.AudioServiceActivity"
      android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
      android:exported="true"
      android:hardwareAccelerated="true"
      android:launchMode="singleInstance"
      android:theme="@style/LaunchTheme"
      android:windowSoftInputMode="adjustResize">
      <!--
              Specifies an Android theme to apply to this Activity as soon as
              the Android process has started. This theme is visible to the user
              while the Flutter UI initializes. After that, this theme continues
              to determine the Window background behind the Flutter UI.
            -->
      <meta-data
        android:name="io.flutter.embedding.android.NormalTheme"
        android:resource="@style/NormalTheme" />

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/*" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="spotube" />
      </intent-filter>

      <intent-filter>
        <action android:name="es.antonborri.home_widget.action.LAUNCH" />
      </intent-filter>
    </activity>

    <!-- AudioService Config -->
    <service
      android:name="com.ryanheise.audioservice.AudioService"
      android:exported="true"
      android:foregroundServiceType="mediaPlayback">
      <intent-filter>
        <action android:name="android.media.browse.MediaBrowserService" />
      </intent-filter>
    </service>
    <receiver
      android:name="com.ryanheise.audioservice.MediaButtonReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>
    <!-- =================== -->

    <meta-data
      android:name="com.google.android.gms.car.application"
      android:resource="@xml/automotive_app_desc" />

    <!--  Home Widget config  -->
    <receiver
      android:name=".glance.HomePlayerWidgetReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/home_player_widget_config" />
    </receiver>

    <receiver
      android:name="es.antonborri.home_widget.HomeWidgetBackgroundReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="es.antonborri.home_widget.action.BACKGROUND" />
      </intent-filter>
    </receiver>

    <service
      android:name="es.antonborri.home_widget.HomeWidgetBackgroundService"
      android:exported="true"
      android:permission="android.permission.BIND_JOB_SERVICE" />
    <!-- =================== -->

    <!-- Don't delete the meta-data below.
                 This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
    <meta-data
      android:name="flutterEmbedding"
      android:value="2" />
  </application>
</manifest>