---
import RootLayout from "~/layouts/RootLayout.astro";
import ReleasesSection from "~/modules/downloads/older/releases";
---

<RootLayout>
  <div class="p-4 md:p-24">
    <div class="flex flex-col gap-5">
      <ReleasesSection client:only />
    </div>
  </div>
</RootLayout>
