# Copyright (C) 2026 Kingkor Roy Tirtho and Spotube Contributors
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.

openapi: 3.0.3
info:
  description: OpenAPI client defintion.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://listenbrainz.org/terms-of-service/
  title: ListenBrainz Swagger - OpenAPI 3.0
  version: v-2025-11-04.0
servers:
- url: https://api.listenbrainz.org
tags:
- description: |-
    ListenBrainz has a statistics infrastructure that collects and computes
    statistics from the listen data that has been stored in the database.
    The endpoints in this section offer a way to get this data programmatically.
  name: lbStats
- description: The ListenBrainz server supports the following end-points for submitting
    and fetching listens.
  name: lbCore
- description: The playlists API allows for the creation and editing of lists of recordings.
  name: lbPlaylists
- description: Feedback API and Pinned Recording API.
  name: lbRecordings
- description: The popularity APIs return the total listen and listeners count for
    various entities and also a way to query top entities for a given artist.
  name: lbPopularity
- description: The metadata API looks up MusicBrainz metadata for recordings.
  name: lbMetadata
- description: These api endpoints allow to create and fetch timeline events for a
    user.
  name: lbSocial
- description: "ListenBrainz uses collaborative filtering to generate recording recommendations,\
    \ which may be further processed to generate playlists for users."
  name: lbRecommendations
- description: Various ListenBrainz API endpoints that are not documented elsewhere.
  name: lbMisc
- description: ListenBrainz has a (cover) art infrastructure that creates new cover
    art from a user's statistics or a user's instructions on how to composite a cover
    art grid.
  name: lbArt
paths:
  /1/search/users:
    get:
      operationId: searchUsers
      parameters:
      - description: Input on which search operation is to be performed.
        in: query
        name: search_term
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/searchUsers"
          description: Successful operation.
      summary: Search a ListenBrainz-registered user.
      tags:
      - lbCore
  /1/submit-listens:
    post:
      operationId: submitListens
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitListens"
        required: true
      responses:
        "200":
          description: Listen(s) accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      security:
      - ApiKeyAuth: []
      summary: Submit listens to the server.
      tags:
      - lbCore
  /1/validate-token:
    get:
      operationId: validateToken
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validateToken"
          description: The user token is valid/invalid.
        "400":
          description: No token was sent to the endpoint.
      security:
      - ApiKeyAuth: []
      summary: Check whether a User Token is a valid entry in the database.
      tags:
      - lbCore
  /1/user/{user_name}/listens:
    get:
      operationId: listensForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - description: "If you specify a 'max_ts' timestamp, listens with listened_at\
          \ less than (but not including) this value will be returned."
        in: query
        name: max_ts
        schema:
          type: integer
      - description: "If you specify a 'min_ts' timestamp, listens with listened_at\
          \ greater than (but not including) this value will be returned."
        in: query
        name: min_ts
        schema:
          type: integer
      - description: "Optional, number of listens to return."
        in: query
        name: count
        required: false
        schema:
          default: 25
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listensForUser"
          description: "Yay, you have data!"
        "404":
          description: The requested user was not found.
      summary: Get listens for user 'user_name'.
      tags:
      - lbCore
  /1/user/{user_name}/listen-count:
    get:
      operationId: listenCountForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listenCountForUser"
          description: "Yay, you have listen counts!"
        "404":
          description: The requested user was not found.
      summary: Get the number of listens for a user 'user_name'.
      tags:
      - lbCore
  /1/user/{user_name}/playing-now:
    get:
      operationId: playingNowForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/playingNowForUser"
          description: "Yay, you have data!"
        "404":
          description: The requested user was not found.
      summary: Get the listen being played right now for user 'user_name'
      tags:
      - lbCore
  /1/user/{user_name}/similar-users:
    get:
      operationId: similarUsersForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/similarUsersForUser"
          description: "Yay, you have data!"
        "404":
          description: The requested user was not found.
      summary: Get the listen being played right now for user 'user_name'.
      tags:
      - lbCore
  /1/user/{user_name}/similar-to/{other_user_name}:
    get:
      operationId: similarityOfUserForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: path
        name: other_user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/similarityOfUserForUser"
          description: "Yay, you have data!"
        "404":
          description: The requested user was not found.
      summary: "Get the similarity of 'user_name' and 'other_user_name', based on\
        \ their listening history."
      tags:
      - lbCore
  /1/delete-listen:
    post:
      operationId: deleteListen
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/deleteListen"
        required: true
      responses:
        "200":
          description: Listen deleted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      security:
      - ApiKeyAuth: []
      summary: Delete a particular listen from a user's listen history.
      tags:
      - lbCore
  /1/latest-import:
    get:
      operationId: latestImport
      parameters:
      - description: The MusicBrainz ID of the user whose data is needed.
        in: query
        name: user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/latestImport"
          description: "Yay, you have data!"
      security:
      - ApiKeyAuth: []
      summary: Get the timestamp of the newest listen submitted by a user in previous
        imports to ListenBrainz.
      tags:
      - lbCore
  /1/user/{user_name}/services:
    get:
      operationId: servicesForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/servicesForUser"
          description: "Yay, you have data!"
        "401":
          description: Invalid authorization.
        "403":
          description: "Forbidden, you do not have permissions to view this user's\
            \ information."
        "404":
          description: The requested user was not found.
      security:
      - ApiKeyAuth: []
      summary: Get list of services which are connected to a given user's account.
      tags:
      - lbCore
  /1/user/{playlist_user_name}/playlists/recommendations:
    get:
      operationId: recommendationPlaylistsForUser
      parameters:
      - in: path
        name: playlist_user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/playlists"
          description: Success.
        "404":
          description: User not found.
      summary: Fetch recommendation playlist metadata in JSPF format without recordings
        for 'playlist_user_name'. This endpoint only lists playlists that are to be
        shown on the listenbrainz.org recommendations pages.
      tags:
      - lbCore
  /1/user/{playlist_user_name}/playlists/search:
    get:
      operationId: searchPlaylistForUser
      parameters:
      - in: path
        name: playlist_user_name
        required: true
        schema:
          type: string
      - in: query
        name: query
        required: true
        schema:
          type: string
      - description: The number of playlists to return (for pagination).
        in: query
        name: count
        required: false
        schema:
          default: 25
          type: integer
      - description: The offset of into the list of playlists to return (for pagination).
        in: query
        name: offset
        required: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/playlists"
          description: "Yay, you have data!"
        "404":
          description: The requested user was not found.
      summary: Search for a playlist by name for a user.
      tags:
      - lbCore
  /1/lb-radio/artist/{seed_artist_mbid}:
    get:
      operationId: lbRadioRecordingsForArtist
      parameters:
      - in: path
        name: seed_artist_mbid
        required: true
        schema:
          format: uuid
          type: string
      - description: "The mode that LB radio should use. Must be easy, medium or hard."
        in: query
        name: mode
        required: true
        schema:
          $ref: "#/components/schemas/Mode"
      - description: The maximum number of similar artists to return recordings for.
        in: query
        name: max_similar_artists
        required: true
        schema:
          type: integer
      - description: "The maximum number of recordings to return for each artist.\
          \ If there are aren’t enough recordings, all available recordings will be\
          \ returned."
        in: query
        name: max_recordings_per_artist
        required: true
        schema:
          type: integer
      - description: "Popularity range percentage lower bound. A popularity range\
          \ is given to narrow down the recordings into a smaller target group. The\
          \ most popular recording(s) on LB have a pop percent of 100. The least popular\
          \ recordings have a score of 0. This range is not coupled to the specified\
          \ mode, but the mode would often determine the popularity range, so that\
          \ less popular recordings can be returned on the medium and harder modes."
        in: query
        name: pop_begin
        required: true
        schema:
          type: integer
      - description: Popularity range percentage upper bound.
        in: query
        name: pop_end
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/lbRadioRecordingsForArtist"
          description: "Yay, you have data!"
        "400":
          description: Invalid or missing param in request.
      summary: "Get recordings for use in LB radio with the given seed artist. The\
        \ endpoint returns a dict of all the similar artists, including the seed artist.\
        \ For each artists, there will be a list of dicts that contain recording_mbid,\
        \ similar_artist_mbid and total_listen_count."
      tags:
      - lbCore
  /1/lb-radio/tags:
    get:
      operationId: lbRadioTags
      parameters:
      - description: "The MusicBrainz tag to fetch recordings for, this parameter\
          \ can be specified multiple times. if more than one tag is specified, the\
          \ operator param should also be specified."
        in: query
        name: tag
        required: true
        schema:
          type: string
      - description: "Specify AND to retrieve recordings that have all the tags, otherwise\
          \ specify OR to retrieve recordings that have any one of the tags."
        in: query
        name: operator
        required: false
        schema:
          $ref: "#/components/schemas/Operator"
      - description: "Popularity range percentage lower bound. A popularity range\
          \ is given to narrow down the recordings into a smaller target group. The\
          \ most popular recording(s) on LB have a pop percent of 100. The least popular\
          \ recordings have a score of 0. This range is not coupled to the specified\
          \ mode, but the mode would often determine the popularity range, so that\
          \ less popular recordings can be returned on the medium and harder modes."
        in: query
        name: pop_begin
        required: true
        schema:
          type: integer
      - description: Popularity range percentage upper bound.
        in: query
        name: pop_end
        required: true
        schema:
          type: integer
      - description: "Optional, number of listens to return."
        in: query
        name: count
        required: true
        schema:
          default: 25
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/lbRadioTags"
          description: "Yay, you have data!"
        "400":
          description: Invalid or missing param in request.
      summary: Get recordings for use in LB radio with the specified tags that match
        the requested criteria.
      tags:
      - lbCore
  /1/stats/user/{user_name}/artists:
    get:
      operationId: topArtistsForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of artists to return"
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of artists to skip from the beginning, for\
            \ pagination"
          type: integer
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topArtistsForUser"
          description: successful operation
        "204":
          description: "Statistics for the user haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get top artists for user 'user_name'.
      tags:
      - lbStats
  /1/stats/user/{user_name}/releases:
    get:
      operationId: topReleasesForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of artists to return"
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of artists to skip from the beginning, for\
            \ pagination"
          type: integer
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topReleasesForUser"
          description: "Successful query, you have data!"
        "204":
          description: "Statistics for the user haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get top releases for user 'user_name'.
      tags:
      - lbStats
  /1/stats/user/{user_name}/release-groups:
    get:
      operationId: topReleaseGroupsForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of artists to return"
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of artists to skip from the beginning, for\
            \ pagination"
          type: integer
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topReleaseGroupsForUser"
          description: successful operation
        "204":
          description: "Statistics for the user haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found
      summary: Get top release groups for user 'user_name'.
      tags:
      - lbStats
  /1/stats/user/{user_name}/recordings:
    get:
      operationId: topRecordingsForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of artists to return"
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of artists to skip from the beginning, for\
            \ pagination"
          type: integer
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topRecordingsForUser"
          description: successful operation
        "204":
          description: "Statistics for the user haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get top recordings for user 'user_name'.
      tags:
      - lbStats
  /1/stats/user/{user_name}/listening-activity:
    get:
      operationId: listeningActivityForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listeningActivityForUser"
          description: successful operation
        "204":
          description: "Statistics for the user haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get the listening activity for user 'user_name'.
      tags:
      - lbStats
  /1/stats/user/{user_name}/daily-activity:
    get:
      operationId: dailyActivityForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/dailyActivityForUser"
          description: successful operation
        "204":
          description: "Statistics for the user haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get the daily activity for user 'user_name'.
      tags:
      - lbStats
  /1/stats/user/{user_name}/artist-map:
    get:
      operationId: artistMapForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      - description: "Optional, recalculate the data instead of returning the cached\
          \ result."
        in: query
        name: force_recalculate
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/artistMapForUser"
          description: successful operation
        "204":
          description: "Statistics for the user haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get the artist map for user 'user_name'.
      tags:
      - lbStats
  /1/stats/artist/{artist_mbid}/listeners:
    get:
      operationId: listenersForArtist
      parameters:
      - in: path
        name: artist_mbid
        required: true
        schema:
          format: uuid
          type: string
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listenersForArtist"
          description: successful operation
        "204":
          description: "Statistics for the artist haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: Entity not found.
      summary: Get top listeners for artist 'artist_mbid'.
      tags:
      - lbStats
  /1/stats/release-group/{release_group_mbid}/listeners:
    get:
      operationId: listenersForReleaseGroup
      parameters:
      - in: path
        name: release_group_mbid
        required: true
        schema:
          format: uuid
          type: string
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listenersForReleaseGroup"
          description: successful operation
        "204":
          description: "Statistics for the artist haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: Entity not found.
      summary: Get top listeners for release group 'release_group_mbid'.
      tags:
      - lbStats
  /1/stats/sitewide/artists:
    get:
      operationId: sitewideTopArtists
      parameters:
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of artists to return."
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of artists to skip from the beginning, for\
            \ pagination."
          type: integer
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sitewideTopArtists"
          description: successful operation
        "204":
          description: "Statistics for the artist haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: Entity not found.
      summary: Get sitewide top artists.
      tags:
      - lbStats
  /1/stats/sitewide/releases:
    get:
      operationId: sitewideTopReleases
      parameters:
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of artists to return."
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of artists to skip from the beginning, for\
            \ pagination."
          type: integer
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sitewideTopReleases"
          description: successful operation
        "204":
          description: "Statistics for the artist haven't been calculated, empty response\
            \ will be returned."
        "400":
          description: Bad request.
        "404":
          description: Entity not found.
      summary: Get sitewide top releases.
      tags:
      - lbStats
  /1/stats/sitewide/release-groups:
    get:
      operationId: sitewideTopReleaseGroups
      parameters:
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of artists to return."
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of artists to skip from the beginning, for\
            \ pagination."
          type: integer
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sitewideTopReleaseGroups"
          description: successful operation
        "204":
          description: "Statistics haven't been calculated, empty response will be\
            \ returned."
        "400":
          description: Bad request.
      summary: Get sitewide top release groups.
      tags:
      - lbStats
  /1/stats/sitewide/recordings:
    get:
      operationId: sitewideTopRecordings
      parameters:
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of artists to return."
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of artists to skip from the beginning, for\
            \ pagination."
          type: integer
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sitewideTopRecordings"
          description: successful operation
        "204":
          description: "Statistics haven't been calculated, empty response will be\
            \ returned."
        "400":
          description: Bad request.
      summary: Get sitewide top recordings.
      tags:
      - lbStats
  /1/stats/sitewide/listening-activity:
    get:
      operationId: sitewideListeningActivity
      parameters:
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sitewideListeningActivity"
          description: successful operation
        "204":
          description: "Statistics haven't been calculated, empty response will be\
            \ returned."
        "400":
          description: Bad request.
      summary: Get sitewide top recordings.
      tags:
      - lbStats
  /1/stats/sitewide/artist-map:
    get:
      operationId: sitewideArtistMap
      parameters:
      - in: query
        name: range
        required: false
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      - description: "Optional, recalculate the data instead of returning the cached\
          \ result."
        in: query
        name: force_recalculate
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/sitewideArtistMap"
          description: successful operation
        "204":
          description: "Statistics haven't been calculated, empty response will be\
            \ returned."
        "400":
          description: Bad request.
      summary: Get sitewide top recordings.
      tags:
      - lbStats
  /1/stats/user/{user_name}/year-in-music/{year}:
    get:
      operationId: yearInMusicForUser
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: path
        name: year
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/yearInMusicForUser"
          description: "Successful query, you have data!"
        "204":
          description: "Statistics haven't been calculated, empty response will be\
            \ returned."
        "400":
          description: Bad request.
      summary: Get sitewide top recordings.
      tags:
      - lbStats
  /1/user/{playlist_user_name}/playlists:
    get:
      operationId: playlistsForUser
      parameters:
      - in: path
        name: playlist_user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: The number of playlists to return (for pagination).
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          description: The offset of into the list of playlists to return (for pagination).
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/playlists"
          description: "Yay, you have data!"
        "404":
          description: The requested user was not found.
      summary: Fetch playlist metadata in JSPF format without recordings for the given
        user.
      tags:
      - lbPlaylists
  /1/user/{playlist_user_name}/playlists/collaborator:
    get:
      operationId: playlistsForUserCollaborator
      parameters:
      - in: path
        name: playlist_user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: The number of playlists to return (for pagination).
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          description: The offset of into the list of playlists to return (for pagination).
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/playlists"
          description: "Yay, you have data!"
        "404":
          description: User not found.
      summary: "Fetch playlist metadata in JSPF format without recordings for which\
        \ a user is a collaborator. If a playlist is private, it will only be returned\
        \ if the caller is authorized to edit that playlist."
      tags:
      - lbPlaylists
  /1/user/{playlist_user_name}/playlists/createdfor:
    get:
      operationId: playlistsCreatedForUser
      parameters:
      - in: path
        name: playlist_user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: The number of playlists to return (for pagination).
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          description: The offset of into the list of playlists to return (for pagination).
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/playlists"
          description: "Yay, you have data!"
        "404":
          description: The requested user was not found.
      summary: Fetch playlist metadata in JSPF format without recordings that have
        been created for the user.
      tags:
      - lbPlaylists
  /1/playlist/create:
    post:
      description: |-
        Create a playlist. The playlist must be in JSPF format with MusicBrainz extensions, which is defined here: https://musicbrainz.org/doc/jspf . To create an empty playlist, you can send an empty playlist with only the title field filled out. If you would like to create a playlist populated with recordings, each of the track items in the playlist must have an identifier element that contains the MusicBrainz recording that includes the recording MBID.

        When creating a playlist, only the playlist title and the track identifier elements will be used - all other elements in the posted JSPF wil be ignored.

        If a created_for field is found and the user is not an approved playlist bot, then a 403 forbidden will be raised.
      operationId: createPlaylist
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createPlaylist_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPlaylist_200_response"
          description: Playlist accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
        "403":
          description: The submitting user is not allowed to create playlists for
            other users.
      security:
      - ApiKeyAuth: []
      summary: Create a playlist
      tags:
      - lbPlaylists
  /1/playlist/search:
    get:
      operationId: searchPlaylists
      parameters:
      - in: query
        name: query
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/playlists"
          description: "Yay, you have data!"
        "400":
          description: "Invalid query string, see error message for details."
        "401":
          description: Invalid authorization. See error message for details.
      summary: Search for playlists by name or description. The search query must
        be at least 3 characters long.
      tags:
      - lbPlaylists
  /1/playlist/edit/{playlist_mbid}:
    post:
      operationId: editPlaylist
      parameters:
      - description: The playlist mbid to edit.
        in: path
        name: playlist_mbid
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createPlaylist_request"
        required: true
      responses:
        "200":
          description: Playlist accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
        "403":
          description: The submitting user is not allowed to create playlists for
            other users.
      security:
      - ApiKeyAuth: []
      summary: |-
        Create a playlist. The playlist must be in JSPF format with MusicBrainz extensions, which is defined here: https://musicbrainz.org/doc/jspf . To create an empty playlist, you can send an empty playlist with only the title field filled out. If you would like to create a playlist populated with recordings, each of the track items in the playlist must have an identifier element that contains the MusicBrainz recording that includes the recording MBID.

        When creating a playlist, only the playlist title and the track identifier elements will be used - all other elements in the posted JSPF wil be ignored.

        If a created_for field is found and the user is not an approved playlist bot, then a 403 forbidden will be raised.
      tags:
      - lbPlaylists
  /1/playlist/{playlist_mbid}:
    get:
      operationId: fetchPlaylist
      parameters:
      - description: The playlist mbid to fetch.
        in: path
        name: playlist_mbid
        required: true
        schema:
          format: uuid
          type: string
      - description: "Optional, pass value ‘false' to skip lookup up recording metadata."
        in: query
        name: fetch_metadata
        required: false
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createPlaylist_request"
          description: "Yay, you have data!"
        "401":
          description: Invalid authorization. See error message for details.
        "404":
          description: Playlist not found.
      summary: Fetch the given playlist.
      tags:
      - lbPlaylists
  /1/playlist/{playlist_mbid}/item/add/{offset}:
    post:
      operationId: appendRecordings
      parameters:
      - description: The playlist mbid to append to.
        in: path
        name: playlist_mbid
        required: true
        schema:
          format: uuid
          type: string
      - description: Offset.
        in: path
        name: offset
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/playlist"
        required: true
      responses:
        "200":
          description: Playlist accepted.
        "400":
          description: "Invalid JSON sent, see error message for details."
        "401":
          description: Invalid authorization. See error message for details.
        "403":
          description: Forbidden. The requesting user was not allowed to carry out
            this operation.
      security:
      - ApiKeyAuth: []
      summary: |-
        Append recordings to an existing playlist by posting a playlist with one of more recordings in it. The playlist must be in JSPF format with MusicBrainz extensions, which is defined here: https://musicbrainz.org/doc/jspf .

        If the offset is provided in the URL, then the recordings will be added at that offset, otherwise they will be added at the end of the playlist.
      tags:
      - lbPlaylists
  /1/playlist/{playlist_mbid}/item/move:
    post:
      operationId: moveItem
      parameters:
      - description: The playlist mbid to append to.
        in: path
        name: playlist_mbid
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/moveItem_request"
        required: true
      responses:
        "200":
          description: Move operation succeeded.
        "400":
          description: "Invalid JSON sent, see error message for details."
        "401":
          description: Invalid authorization. See error message for details.
        "403":
          description: Forbidden. The requesting user was not allowed to carry out
            this operation.
      security:
      - ApiKeyAuth: []
      summary: "To move an item in a playlist, the POST data needs to specify the\
        \ recording MBID and current index of the track to move (from), where to move\
        \ it to (to) and how many tracks from that position should be moved (count)."
      tags:
      - lbPlaylists
  /1/playlist/{playlist_mbid}/item/delete:
    post:
      description: "To delete an item in a playlist, the POST data needs to specify\
        \ the recording MBID and current index of the track to delete, and how many\
        \ tracks from that position should be moved deleted."
      operationId: itemDelete
      parameters:
      - description: The playlist mbid to fetch.
        in: path
        name: playlist_mbid
        required: true
        schema:
          format: uuid
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/itemDelete_request"
        required: true
      responses:
        "200":
          description: Playlist accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
        "403":
          description: The requesting user was not allowed to carry out this operation.
      security:
      - ApiKeyAuth: []
      summary: Delete an item in a playlist.
      tags:
      - lbPlaylists
  /1/playlist/{playlist_mbid}/delete:
    post:
      description: POST body data does not need to contain anything.
      operationId: deletePlaylist
      parameters:
      - description: The playlist mbid to fetch.
        in: path
        name: playlist_mbid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          description: Playlist deleted.
        "401":
          description: Invalid authorization.
        "403":
          description: The requesting user was not allowed to carry out this operation.
        "404":
          description: Playlist not found.
      security:
      - ApiKeyAuth: []
      summary: Delete a playlist.
      tags:
      - lbPlaylists
  /1/playlist/{playlist_mbid}/copy:
    post:
      operationId: copyPlaylist
      parameters:
      - description: The playlist mbid to append to.
        in: path
        name: playlist_mbid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          description: Playlist copied.
        "401":
          description: Invalid authorization. See error message for details.
        "403":
          description: Forbidden. The requesting user was not allowed to carry out
            this operation.
        "404":
          description: Playlist not found.
      security:
      - ApiKeyAuth: []
      summary: Copy a playlist - the new playlist will be given the name “Copy of
        <playlist_name>”. POST body data does not need to contain anything.
      tags:
      - lbPlaylists
  /1/feedback/recording-feedback:
    post:
      operationId: recordingFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/recordingFeedback_request"
        required: true
      responses:
        "200":
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      security:
      - ApiKeyAuth: []
      summary: Submit recording feedback (love/hate) to the server. A user token (found
        on https://listenbrainz.org/settings/ ) must be provided in the Authorization
        header! Each request should contain only one feedback in the payload.
      tags:
      - lbRecordings
  /1/feedback/user/{user_name}/get-feedback:
    get:
      operationId: getFeedback
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: score
        required: false
        schema:
          description: "Optional, If 1 then returns the loved recordings, if -1 returns\
            \ hated recordings."
          type: integer
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of feedback items to return."
          maximum: 1000
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of feedback items to skip from the beginning,\
            \ for pagination. Ex. An offset of 5 means the top 5 feedback will be\
            \ skipped, defaults to 0."
          type: integer
      - in: query
        name: metadata
        required: false
        schema:
          description: "Optional, 'true' or 'false' if this call should return the\
            \ metadata for the feedback."
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feedbackResponse"
          description: "Yay, you have data!"
      summary: |-
        Get feedback given by user 'user_name'. The format for the JSON returned is defined in our Feedback JSON Documentation.

        If the optional argument score is not given, this endpoint will return all the feedback submitted by the user. Otherwise filters the feedback to be returned by score.
      tags:
      - lbRecordings
  /1/feedback/recording/{recording_mbid}/get-feedback-mbid:
    get:
      operationId: getFeedbackMbid
      parameters:
      - in: path
        name: recording_mbid
        required: true
        schema:
          format: uuid
          type: string
      - in: query
        name: score
        required: false
        schema:
          description: "Optional, If 1 then returns the loved recordings, if -1 returns\
            \ hated recordings."
          type: integer
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of feedback items to return."
          maximum: 1000
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of feedback items to skip from the beginning,\
            \ for pagination. Ex. An offset of 5 means the top 5 feedback will be\
            \ skipped, defaults to 0."
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feedbackResponse"
          description: "Yay, you have data!"
      summary: Get feedback for recording with given recording_mbid.
      tags:
      - lbRecordings
  /1/feedback/user/{recording_msid}/get-feedback:
    get:
      operationId: getFeedbackMsid
      parameters:
      - in: path
        name: recording_msid
        required: true
        schema:
          type: string
      - in: query
        name: score
        required: false
        schema:
          description: "Optional, If 1 then returns the loved recordings, if -1 returns\
            \ hated recordings."
          type: integer
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of feedback items to return."
          maximum: 1000
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of feedback items to skip from the beginning,\
            \ for pagination. Ex. An offset of 5 means the top 5 feedback will be\
            \ skipped, defaults to 0."
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feedbackResponse"
          description: "Yay, you have data!"
      summary: Get feedback for recording with given recording_msid.
      tags:
      - lbRecordings
  /1/feedback/user/{user_name}/get-feedback-for-recordings:
    get:
      operationId: getFeedbackForRecordings
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - description: Comma separated list of recording_msids for which feedback records
          are to be fetched.
        in: query
        name: recording_msids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: Comma separated list of recording_mbids for which feedback records
          are to be fetched.
        in: query
        name: recording_mbids
        required: false
        schema:
          items:
            format: uuid
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feedbackResponse"
          description: "Yay, you have data!"
      summary: Get feedback given by user user_name for the list of recordings supplied.
      tags:
      - lbRecordings
  /1/pin:
    post:
      operationId: pin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/pin_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pin_200_response"
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      security:
      - ApiKeyAuth: []
      summary: Pin a recording for user. A user token (found on https://listenbrainz.org/settings/)
        must be provided in the Authorization header! Each request should contain
        only one pinned recording item in the payload.
      tags:
      - lbRecordings
  /1/unpin:
    post:
      operationId: unpin
      responses:
        "200":
          description: Recording unpinned.
        "401":
          description: Invalid authorization.
        "404":
          description: Could not find the active recording to unpin for the user.
      security:
      - ApiKeyAuth: []
      summary: Unpins the currently active pinned recording for the user. A user token
        (found on https://listenbrainz.org/settings/) must be provided in the Authorization
        header!
      tags:
      - lbRecordings
  /1/pin/delete/{row_id}:
    post:
      operationId: pinDelete
      parameters:
      - in: path
        name: row_id
        required: true
        schema:
          type: integer
      responses:
        "200":
          description: Recording unpinned.
        "401":
          description: Invalid authorization.
        "404":
          description: The requested row_id for the user was not found.
      security:
      - ApiKeyAuth: []
      summary: Deletes the pinned recording with given row_id from the server. A user
        token (found on https://listenbrainz.org/settings/) must be provided in the
        Authorization header!
      tags:
      - lbRecordings
  /1/{user_name}/pins:
    get:
      operationId: getPins
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of feedback items to return."
          maximum: 1000
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of pinned recording items to skip from the\
            \ beginning, for pagination. Ex. An offset of 5 means the top 5 feedback\
            \ will be skipped, defaults to 0."
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPins"
          description: "Yay, you have data!"
        "400":
          description: "Invalid query parameters, see error message for details."
        "404":
          description: The requested user was not found.
      summary: Get a list of all recordings ever pinned by a user with given user_name
        in descending order of the time they were originally pinned.
      tags:
      - lbRecordings
  /1/{user_name}/pins/following:
    get:
      operationId: getPinsFollowing
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of feedback items to return."
          maximum: 1000
          type: integer
      - in: query
        name: offset
        required: false
        schema:
          default: 0
          description: "Optional, number of pinned recording items to skip from the\
            \ beginning, for pagination. Ex. An offset of 5 means the top 5 feedback\
            \ will be skipped, defaults to 0."
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPins"
          description: "Yay, you have data!"
        "400":
          description: "Invalid query parameters, see error message for details."
        "404":
          description: The requested user was not found.
      summary: Get a list containing the active pinned recordings for all users in
        a user's user_name following list. The returned pinned recordings are sorted
        in descending order of the time they were pinned.
      tags:
      - lbRecordings
  /1/{user_name}/pins/current:
    get:
      operationId: getPinsCurrent
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getPinsCurrent_200_response"
          description: "Yay, you have data!"
        "400":
          description: "Invalid query parameters, see error message for details."
        "404":
          description: The requested user was not found.
      summary: Get the currently pinned recording by a user with given user_name.
      tags:
      - lbRecordings
  /1/pin/update/{row_id}:
    post:
      operationId: updatePin
      parameters:
      - in: path
        name: row_id
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updatePin_request"
        required: true
      responses:
        "200":
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      security:
      - ApiKeyAuth: []
      summary: Updates the blurb content of a pinned recording for the user. A user
        token (found on https://listenbrainz.org/settings/) must be provided in the
        Authorization header! Each request should contain only one pinned recording
        item in the payload.
      tags:
      - lbRecordings
  /1/popularity/top-recordings-for-artist/{artist_mbid}:
    get:
      operationId: topRecordingsForArtist
      parameters:
      - in: path
        name: artist_mbid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topRecordingsForArtist"
          description: "Yay, you have data!"
        "400":
          description: "Invalid query parameters, see error message for details."
        "404":
          description: The requested user was not found.
      summary: Get a list of all recordings ever pinned by a user with given user_name
        in descending order of the time they were originally pinned.
      tags:
      - lbPopularity
  /1/popularity/top-release-groups-for-artist/{artist_mbid}:
    get:
      operationId: topReleaseGroupForArtist
      parameters:
      - in: path
        name: artist_mbid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/topReleaseGroupsForArtist"
          description: "Yay, you have data!"
        "400":
          description: "Invalid query parameters, see error message for details."
        "404":
          description: The requested user was not found.
      summary: Get the top release groups by listen count for a given artist.
      tags:
      - lbPopularity
  /1/popularity/recording:
    post:
      operationId: recording
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/recording_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/recording_200_response_inner"
                type: array
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      summary: |-
        Get the total listen count and total unique listeners count for a given recording.

        A JSON document with a list of recording_mbids and inc string must be POSTed. Up to MAX_ITEMS_PER_GET items can be requested at once.
      tags:
      - lbPopularity
  /1/popularity/artist:
    post:
      operationId: artist
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/artist_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/artist_200_response_inner"
                type: array
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      summary: |-
        Get the total listen count and total unique listeners count for a given artist.

        A JSON document with a list of artists and inc string must be POSTed. Up to MAX_ITEMS_PER_GET items can be requested at once.
      tags:
      - lbPopularity
  /1/popularity/release:
    post:
      operationId: release
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/release_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/release_200_response_inner"
                type: array
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      summary: |-
        Get the total listen count and total unique listeners count for a given release.

        A JSON document with a list of releases and inc string must be POSTed. Up to MAX_ITEMS_PER_GET items can be requested at once.
      tags:
      - lbPopularity
  /1/popularity/release-group:
    post:
      operationId: releaseGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/releaseGroup_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/releaseGroup_200_response_inner"
                type: array
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      summary: |-
        Get the total listen count and total unique listeners count for a given release group.

        A JSON document with a list of release groups and inc string must be POSTed. Up to MAX_ITEMS_PER_GET items can be requested at once.
      tags:
      - lbPopularity
  /1/metadata/recording/:
    get:
      operationId: recordingMetadata
      parameters:
      - description: A comma separated list of recording_mbids.
        in: query
        name: recording_mbids
        required: true
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: "A space separated list of “artist”, “tag” and/or “release” to\
          \ indicate which portions of metadata you're interested in fetching. We\
          \ encourage users to only fetch the data they plan to consume."
        in: query
        name: inc
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/recordingMetadata"
                type: object
          description: "Yay, you have data!"
        "400":
          description: "Invalid query parameters, see error message for details."
        "404":
          description: The requested user was not found.
      summary: "This endpoint takes in a list of recording_mbids and returns an array\
        \ of dicts that contain recording metadata suitable for showing in a context\
        \ that requires as much detail about a recording and the artist. Using the\
        \ inc parameter, you can control which portions of metadata to fetch."
      tags:
      - lbMetadata
  /1/metadata/release_group/:
    get:
      operationId: releaseGroupMetadata
      parameters:
      - description: A comma separated list of release_group_mbids.
        explode: false
        in: query
        name: release_group_mbids
        required: true
        schema:
          items:
            format: uuid
            type: string
          type: array
        style: form
      - description: "A space separated list of “artist”, “tag” and/or “release” to\
          \ indicate which portions of metadata you're interested in fetching. We\
          \ encourage users to only fetch the data they plan to consume."
        in: query
        name: inc
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: "#/components/schemas/releaseGroupMetadata"
                type: object
          description: "Yay, you have data!"
        "400":
          description: "Invalid query parameters, see error message for details."
      summary: "This endpoint takes in a list of release_group_mbids and returns an\
        \ array of dicts that contain release_group metadata suitable for showing\
        \ in a context that requires as much detail about a release_group and the\
        \ artist. Using the inc parameter, you can control which portions of metadata\
        \ to fetch."
      tags:
      - lbMetadata
  /1/metadata/lookup/:
    get:
      operationId: lookup
      parameters:
      - description: Artist name of the listen.
        in: query
        name: artist_name
        required: true
        schema:
          type: string
      - description: Track name of the listen.
        in: query
        name: recording_name
        required: true
        schema:
          type: string
      - description: Release name of the listen.
        in: query
        name: release_name
        required: false
        schema:
          type: string
      - description: "Should extra metadata be also returned if a match is found,\
          \ see /metadata/recording for details."
        in: query
        name: metadata
        required: true
        schema:
          type: boolean
      - description: "A space separated list of “artist”, “tag” and/or “release” to\
          \ indicate which portions of metadata you're interested in fetching. We\
          \ encourage users to only fetch the data they plan to consume."
        in: query
        name: inc
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/lookup"
          description: "Yay, you have data!"
        "400":
          description: Invalid arguments.
      summary: "This endpoint looks up mbid metadata for the given artist, recording\
        \ and optionally a release name. The total number of characters in the artist\
        \ name, recording name and release name query arguments should be less than\
        \ or equal to MAX_MAPPING_QUERY_LENGTH."
      tags:
      - lbMetadata
  /1/metadata/submit_manual_mapping/:
    post:
      operationId: submitManualMapping
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitManualMapping"
        required: true
      responses:
        "200":
          description: Listen(s) accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      security:
      - ApiKeyAuth: []
      summary: Submit a manual mapping of a recording messybrainz ID to a musicbrainz
        recording id.
      tags:
      - lbMetadata
  /1/metadata/get_manual_mapping/:
    get:
      operationId: getManualMapping
      parameters:
      - in: query
        name: recording_msid
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getManualMapping"
          description: "Yay, you have data!"
        "404":
          description: No such mapping for this user/recording msid.
      security:
      - ApiKeyAuth: []
      summary: Get the manual mapping of a recording messybrainz ID that a user added.
      tags:
      - lbMetadata
  /1/metadata/artist/:
    get:
      operationId: artistMetadata
      parameters:
      - description: A comma separated list of recording_mbids.
        in: query
        name: artist_mbids
        required: true
        schema:
          items:
            format: uuid
            type: string
          type: array
      - description: "A space separated list of “artist”, “tag” and/or “release” to\
          \ indicate which portions of metadata you're interested in fetching. We\
          \ encourage users to only fetch the data they plan to consume."
        in: query
        name: inc
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/artistMetadata"
                type: array
          description: "Yay, you have data!"
        "400":
          description: Invalid arguments.
      summary: "This endpoint takes in a list of artist_mbids and returns an array\
        \ of dicts that contain recording metadata suitable for showing in a context\
        \ that requires as much detail about a recording and the artist. Using the\
        \ inc parameter, you can control which portions of metadata to fetch."
      tags:
      - lbMetadata
  /1/user/{user_name}/timeline-event/create/recording:
    post:
      operationId: recommendRecording
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/recommendRecording_request"
        required: true
      responses:
        "200":
          description: "Successful query, recording has been recommended!"
        "400":
          description: Bad request.
        "401":
          description: "Unauthorized, you do not have permissions to recommend recordings\
            \ on the behalf of this user."
        "403":
          description: "Forbidden, you are not an approved user."
        "404":
          description: User not found.
      security:
      - ApiKeyAuth: []
      summary: Make the user recommend a recording to their followers.
      tags:
      - lbSocial
  /1/user/{user_name}/timeline-event/create/notification:
    post:
      operationId: createNotification
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createNotification_request"
        required: true
      responses:
        "200":
          description: "Successful query, message has been posted!"
        "400":
          description: Bad request.
        "401":
          description: "Unauthorized, you do not have permissions to recommend recordings\
            \ on the behalf of this user."
        "403":
          description: "Forbidden, you are not an approved user."
        "404":
          description: User not found.
      security:
      - ApiKeyAuth: []
      summary: Post a message with a link on a user's timeline. Only approved users
        are allowed to perform this action.
      tags:
      - lbSocial
  /1/user/{user_name}/timeline-event/create/review:
    post:
      operationId: createReview
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createReview_request"
        required: true
      responses:
        "200":
          description: "Successful query, message has been posted!"
        "400":
          description: Bad request.
        "403":
          description: "Forbidden, you have not linked with a CritiqueBrainz account."
        "404":
          description: User not found.
      security:
      - ApiKeyAuth: []
      summary: Creates a CritiqueBrainz review event for the user. This also creates
        a corresponding review in CritiqueBrainz. Users need to have linked their
        ListenBrainz account with CritiqueBrainz first to use this endpoint successfully.
      tags:
      - lbSocial
  /1/user/{user_name}/feed/events:
    get:
      operationId: feedEvents
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          description: The MusicBrainz ID of the user whose timeline is being requested.
          type: string
      - description: "If you specify a 'max_ts' timestamp, events with timestamps\
          \ less than the value will be returned."
        in: query
        name: max_ts
        schema:
          type: integer
      - description: "If you specify a 'min_ts' timestamp, events with timestamps\
          \ greater than the value will be returned."
        in: query
        name: min_ts
        schema:
          type: integer
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of listens to return."
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feedEvents"
          description: "Successful query, you have feed events!"
        "400":
          description: Bad request.
        "401":
          description: "Unauthorized, you do not have permission to view this user's\
            \ feed."
        "403":
          description: "Forbidden, you do not have permission to view this user's\
            \ feed."
        "404":
          description: User not found.
      security:
      - ApiKeyAuth: []
      summary: CreatGet feed events for a user's timeline.
      tags:
      - lbSocial
  /1/user/{user_name}/feed/events/listens/following:
    get:
      operationId: feedEventsListensFollowing
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          description: The MusicBrainz ID of the user whose timeline is being requested.
          type: string
      - description: "If you specify a 'max_ts' timestamp, events with timestamps\
          \ less than the value will be returned."
        in: query
        name: max_ts
        schema:
          type: integer
      - description: "If you specify a 'min_ts' timestamp, events with timestamps\
          \ greater than the value will be returned."
        in: query
        name: min_ts
        schema:
          type: integer
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of listens to return."
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feedEvents"
          description: "Successful query, you have feed listen-events!"
        "400":
          description: Bad request.
        "401":
          description: Invalid authorization. See error message for details.
        "403":
          description: "Forbidden, you do not have permission to view this user's\
            \ feed."
        "404":
          description: User not found.
      security:
      - ApiKeyAuth: []
      summary: Get feed's listen events for followed users.
      tags:
      - lbSocial
  /1/user/{user_name}/feed/events/listens/similar:
    get:
      operationId: feedEventsListensSimilar
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          description: The MusicBrainz ID of the user whose timeline is being requested.
          type: string
      - description: "If you specify a 'max_ts' timestamp, events with timestamps\
          \ less than the value will be returned."
        in: query
        name: max_ts
        schema:
          type: integer
      - description: "If you specify a 'min_ts' timestamp, events with timestamps\
          \ greater than the value will be returned."
        in: query
        name: min_ts
        schema:
          type: integer
      - in: query
        name: count
        required: false
        schema:
          default: 25
          description: "Optional, number of listens to return."
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feedEventsListensSimilar"
          description: "Successful query, you have feed listen-events!"
        "400":
          description: Bad request.
        "401":
          description: Invalid authorization. See error message for details.
        "403":
          description: "Forbidden, you do not have permission to view this user's\
            \ feed."
        "404":
          description: User not found.
      security:
      - ApiKeyAuth: []
      summary: Get feed's listen events for similar users.
      tags:
      - lbSocial
  /1/user/{user_name}/feed/events/delete:
    post:
      operationId: feedEventsDelete
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/feedEventsDelete_request"
        required: true
      responses:
        "200":
          description: Successful deletion.
        "400":
          description: Bad request.
        "401":
          description: Unauthorized.
        "403":
          description: "Forbidden, you do not have permission to delete from this\
            \ user's feed."
        "404":
          description: User not found.
        "500":
          description: API Internal Server Error.
      security:
      - ApiKeyAuth: []
      summary: "Delete those events from user's feed that belong to them. Supports\
        \ deletion of recommendation and notification. Along with the authorization\
        \ token, post the event type and event id."
      tags:
      - lbSocial
  /1/user/{user_name}/feed/events/hide:
    post:
      operationId: feedEventsHide
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/feedEventsDelete_request"
        required: true
      responses:
        "200":
          description: Event hidden successfully.
        "400":
          description: Bad request.
        "401":
          description: Unauthorized.
        "403":
          description: "Forbidden, you don't have permissions to hide events from\
            \ this user's timeline."
        "404":
          description: User not found.
        "500":
          description: API Internal Server Error.
      security:
      - ApiKeyAuth: []
      summary: "Hide events from the user feed, only recording_recommendation and\
        \ recording_pin events that have been generated by the people one is following\
        \ can be deleted via this endpoint."
      tags:
      - lbSocial
  /1/user/{user_name}/feed/events/unhide:
    post:
      operationId: feedEventsUnhide
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/feedEventsDelete_request"
        required: true
      responses:
        "200":
          description: Event unhidden successfully.
        "400":
          description: Bad request.
        "401":
          description: Unauthorized.
        "403":
          description: Forbidden.
        "404":
          description: User not found.
        "500":
          description: API Internal Server Error.
      security:
      - ApiKeyAuth: []
      summary: "Delete hidden events from the user feed, aka unhide events."
      tags:
      - lbSocial
  /1/user/{user_name}/timeline-event/create/recommend-personal:
    post:
      operationId: recommendPersonalRecording
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/recommendPersonalRecording_request"
        required: true
      responses:
        "200":
          description: "Successful query, recording has been recommended!"
        "400":
          description: Bad request.
        "401":
          description: "Unauthorized, you do not have permissions to recommend."
      security:
      - ApiKeyAuth: []
      summary: "Make the user recommend a recording to their followers. The request\
        \ should post the following data about the recording being recommended (either\
        \ one of recording_msid or recording_mbid is sufficient), and also the list\
        \ of followers getting recommended."
      tags:
      - lbSocial
  /1/user/{user_name}/followers:
    get:
      operationId: followers
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          description: The MusicBrainz ID of the user whose timeline is being requested.
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/followers"
          description: "Yay, you have data!"
        "400":
          description: Bad request.
        "404":
          description: User not found.
      security:
      - ApiKeyAuth: []
      summary: Fetch the list of followers of the user 'user_name'.
      tags:
      - lbSocial
  /1/user/{user_name}/following:
    get:
      operationId: following
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          description: The MusicBrainz ID of the user whose timeline is being requested.
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/following"
          description: "Yay, you have data!"
        "400":
          description: Bad request.
        "404":
          description: User not found.
      security:
      - ApiKeyAuth: []
      summary: Fetch the list of users followed by the user 'user_name'.
      tags:
      - lbSocial
  /1/user/{user_name}/follow:
    post:
      operationId: follow
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully followed the user 'user_name'.
        "400":
          description: "Already following the user user_name, or trying to follow\
            \ yourself."
        "401":
          description: Invalid authorization. See error message for details.
      security:
      - ApiKeyAuth: []
      summary: Follow the user 'user_name'. A user token (found on https://listenbrainz.org/settings/
        ) must be provided in the Authorization header!
      tags:
      - lbSocial
  /1/user/{user_name}/unfollow:
    post:
      operationId: unfollow
      parameters:
      - in: path
        name: user_name
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Successfully unfollowed the user 'user_name'.
        "401":
          description: Invalid authorization. See error message for details.
      security:
      - ApiKeyAuth: []
      summary: Unfollow the user 'user_name'. A user token (found on https://listenbrainz.org/settings/
        ) must be provided in the Authorization header!
      tags:
      - lbSocial
  /1/cf/recommendation/user/{user_name}/recording:
    get:
      operationId: recordingRecommendations
      parameters:
      - description: The MusicBrainz ID of the user whose timeline is being requested.
        in: path
        name: user_name
        required: true
        schema:
          type: string
      - description: "Optional, number of recording mbids to return."
        in: query
        name: count
        schema:
          default: 25
          type: integer
      - description: "Optional, number of mbids to skip from the beginning, for pagination.\
          \ Ex. An offset of 5 means the 5 mbids will be skipped."
        in: query
        name: offset
        schema:
          default: 25
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/recordingRecommendations"
          description: "Successful query, you have data!"
        "204":
          description: "Recommendations for the user haven't been generated, empty\
            \ response will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get recommendations sorted on rating and ratings for user 'user_name'.
      tags:
      - lbRecommendations
  /1/recommendation/feedback/submit:
    post:
      operationId: submitFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/submitFeedback_request"
        required: true
      responses:
        "200":
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      security:
      - ApiKeyAuth: []
      summary: Submit recommendation feedback. A user token (found on https://listenbrainz.org/settings/
        ) must be provided in the Authorization header! Each request should contain
        only one feedback in the payload.
      tags:
      - lbRecommendations
  /1/recommendations/feedback/delete:
    post:
      operationId: deleteFeedback
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/deleteFeedback_request"
        required: true
      responses:
        "200":
          description: Feedback accepted.
        "400":
          description: Invalid JSON sent.
        "401":
          description: Invalid authorization.
      security:
      - ApiKeyAuth: []
      summary: Delete feedback for a user. A user token (found on https://listenbrainz.org/settings/
        ) must be provided in the Authorization header! Each request should contain
        only one recording mbid in the payload.
      tags:
      - lbRecommendations
  /1/recommendations/feedback/user/{user_name}:
    get:
      operationId: feedbackGivenBy
      parameters:
      - description: The MusicBrainz ID of the user whose timeline is being requested.
        in: path
        name: user_name
        required: true
        schema:
          type: string
      - description: "Optional, refer to db/model/recommendation_feedback.py for allowed\
          \ rating values."
        in: query
        name: rating
        required: false
        schema:
          type: string
      - description: "Optional, number of recording mbids to return."
        in: query
        name: count
        required: false
        schema:
          default: 25
          type: integer
      - description: "Optional, number of mbids to skip from the beginning, for pagination.\
          \ Ex. An offset of 5 means the 5 mbids will be skipped."
        in: query
        name: offset
        required: false
        schema:
          default: 25
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/feedbackGivenBy"
          description: "Yay, you have data!"
        "204":
          description: "Recommendations for the user haven't been generated, empty\
            \ response will be returned."
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get feedback given by user 'user_name'.
      tags:
      - lbRecommendations
  /1/recommendations/feedback/user/{user_name}/recordings:
    get:
      operationId: recordingsFeedbackGivenBy
      parameters:
      - description: The MusicBrainz ID of the user whose timeline is being requested.
        in: path
        name: user_name
        required: true
        schema:
          type: string
      - description: Comma separated list of recording_mbids for which feedback records
          are to be fetched.
        in: query
        name: mbids
        required: true
        schema:
          items:
            format: uuid
            type: string
          type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/recordingsFeedbackGivenBy"
          description: "Yay, you have data!"
        "400":
          description: Bad request.
        "404":
          description: User not found.
      summary: Get feedback given by user 'user_name' for the list of recordings supplied.
      tags:
      - lbRecommendations
  /1/explore/fresh-releases/:
    get:
      operationId: freshReleases
      parameters:
      - description: Fresh releases will be shown around this pivot date. Must be
          in YYYY-MM-DD format.
        in: query
        name: release_date
        required: false
        schema:
          type: string
      - description: The number of days of fresh releases to show. Max 90 days.
        in: query
        name: days
        required: false
        schema:
          type: integer
      - description: The sort order of the results.
        in: query
        name: sort
        required: false
        schema:
          default: release_name
          enum:
          - release_date
          - artist_credit_name
          - release_name
          type: string
      - description: Whether to show releases in the past.
        in: query
        name: past
        required: false
        schema:
          default: true
          type: boolean
      - description: Whether to show releases in the future.
        in: query
        name: future
        required: false
        schema:
          default: true
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/freshReleases"
          description: "Yay, you have data!"
        "400":
          description: Invalid date or number of days passed.
      summary: This endpoint fetches upcoming and recently released (fresh) releases.
      tags:
      - lbMisc
  /1/explore/color/{color}:
    get:
      operationId: color
      parameters:
      - description: Color must be a 6 digit hex color code.
        in: path
        name: color
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/color"
          description: Success.
      summary: Fetch a list of releases that have cover art that has a predominant
        color that is close to the given color.
      tags:
      - lbMisc
  /1/explore/lb-radio:
    get:
      operationId: lbRadio
      parameters:
      - description: The LB Radio prompt from which to generate playlists.
        in: query
        name: prompt
        required: true
        schema:
          type: string
      - description: "The mode that LB radio should use. Must be easy, medium or hard."
        in: query
        name: mode
        required: true
        schema:
          $ref: "#/components/schemas/Mode"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/lbRadio"
          description: Success.
      summary: Generate a playlist with LB Radio.
      tags:
      - lbMisc
  /1/status/get-dump-info:
    get:
      operationId: getDumpInfo
      parameters:
      - description: "Integer specifying the ID of the dump, if not provided, the\
          \ endpoint returns information about the latest data dump."
        in: query
        name: id
        required: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getDumpInfo"
          description: Success.
        "400":
          description: You did not provide a valid dump ID. See error message for
            details.
        "404":
          description: Dump with given ID does not exist.
      summary: Get information about ListenBrainz data dumps. You need to pass the
        id parameter in a GET request to get data about that particular dump.
      tags:
      - lbMisc
  /1/art/grid/:
    post:
      operationId: createCoverArtGrid
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createCoverArtGrid"
        required: true
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                format: binary
                type: string
          description: Cover art created successfully.
        "400":
          description: Invalid JSON or invalid options in JSON passed.
      summary: Create a cover art grid SVG file from the POSTed JSON data to this
        endpoint.
      tags:
      - lbArt
  /1/art/grid-stats/{user_name}/{time_range}/{dimension}/{layout}/{image_size}:
    get:
      operationId: createCoverArtGridForUser
      parameters:
      - description: The name of the user for whom to create the cover art.
        in: path
        name: user_name
        required: true
        schema:
          type: string
      - description: Must be a statistics time range.
        in: path
        name: time_range
        required: true
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      - description: "The dimension to use for this grid. A grid of dimension 3 has\
          \ 3 images across and 3 images down, for a total of 9 images."
        in: path
        name: dimension
        required: true
        schema:
          type: integer
      - description: "The layout to be used for this grid. Layout 0 is always a simple\
          \ grid, but other layouts may have image images be of different sizes. See\
          \ https://art.listenbrainz.org for examples of the available layouts."
        in: path
        name: layout
        required: true
        schema:
          type: integer
      - description: The size of the cover art image.
        in: path
        name: image_size
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                format: binary
                type: string
          description: Cover art created successfully.
        "400":
          description: Invalid JSON or invalid options in JSON passed.
      summary: Create a cover art grid SVG file from the stats of a given user.
      tags:
      - lbArt
  /1/art/{custom_name}/{user_name}/{time_range}/{image_size}:
    get:
      operationId: createCustomCoverArt
      parameters:
      - description: The name of cover art to be generated.
        in: path
        name: custom_name
        required: true
        schema:
          $ref: "#/components/schemas/CoverTypes"
      - description: The name of the user for whom to create the cover art.
        in: path
        name: user_name
        required: true
        schema:
          type: string
      - description: Must be a statistics time range.
        in: path
        name: time_range
        required: true
        schema:
          $ref: "#/components/schemas/AllowedStatisticsRange"
      - description: The size of the cover art image.
        in: path
        name: image_size
        required: true
        schema:
          type: integer
      responses:
        "200":
          content:
            image/svg+xml:
              schema:
                format: binary
                type: string
          description: Cover art created successfully.
        "400":
          description: Invalid JSON or invalid options in JSON passed.
      summary: Create a custom cover art SVG file from the stats of a given user.
      tags:
      - lbArt
  /1/art/year-in-music/{year}/{user_name}:
    get:
      operationId: yearInMusic
      parameters:
      - in: path
        name: year
        required: true
        schema:
          type: integer
      - description: The name of the user for whom to create the cover art.
        in: path
        name: user_name
        required: true
        schema:
          type: string
      - in: query
        name: image
[...]
