[Desktop Entry]
Type=Application
Name=Spotube
Exec=AppRun
Icon=default
Comment=A music streaming app combining the power of Spotify & Youtube
Terminal=false
Categories=Music;
