[Desktop Entry]
Type=Application
Name=Spotube
Exec=/usr/bin/spotube
Icon=icon
Comment=A music streaming app combining the power of Spotify & Youtube
Terminal=false
Categories=Music;
