---
import RootLayout from "~/layouts/RootLayout.astro";
---

<RootLayout>
  <section class="p-4 md:p-16">
    <h2 class="h2">About</h2>

    <br /><br />

    <h4 class="h4">Author & Developer</h4>
    <br />
    <a
      href="https://github.com/KRTirtho"
      target="_blank"
      class="btn preset-tonal-primary max-w-44 flex flex-col items-center p-4 rounded-2xl"
    >
      <img
        alt="Author of Spotube"
        src="https://github.com/KRTirtho.png"
        class="h-auto w-40 rounded-full"
      />
      <br />
      <h5>Kingkor Roy Tirtho</h5>
      <p>Flutter developer</p>
    </a>
  </section>
</RootLayout>
