pkgbase = spotube-bin
	pkgdesc = A lightweight free Spotify desktop-client which handles playback manually, streams music using Youtube & no Spotify premium account is needed
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/KRTirtho/spotube/
	arch = x86_64
	license = BSD-4-Clause
	depends = libkeybinder3
	source = https://github.com/KRTirtho/spotube/releases/download/v1.2.0/Spotube-linux-x86_64.tar.xz
	md5sums = f49d21ef00c7d43eb70e7e9b2a7103c1

pkgname = spotube-bin
