<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <key>NSLocalNetworkUsageDescription</key>
    <string>Required to discover local network devices</string>
    <key>NSBonjourServices</key>
    <array>
    <string>_http._tcp</string>
    <string>_spotube-ctrl._tcp</string>
    </array>
</dict>
</plist>
